@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

/* base styles*/
*{
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
  text-decoration: none;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.content {
  margin: 16px auto 96px auto;
  padding: 0 20px;
}
.logo-wrapper h1 {
  text-align: center;
  margin: 0 0 16px 0;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 16px 0px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -0.5px 3px rgba(60, 63, 66, 0.32),
              inset 0 -0.5px 12px rgb(60 63 66 / 15%);           
}
.nav-link-list {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.nav-link-item a {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav-link-item  {
  padding: 0;
}
.link-text {
  font-size: 12px;
}
.link-text, .nav-icon{ 
  padding: 0;
  margin: 0;
}
.nav-link-item a:hover *{
  color: #f1356d;
}
.active * {
  color: #f1356d;
}
.balance-preview {
  border: 1px solid #f1356d;
  padding: 24px 0;
  background-color: #f1356d;
  text-align: center;
  border-radius: 4px;
  height: 80px;
  margin-bottom: 8px;
}
.section-wrapper {
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
}
.section-wrapper h2 {
  margin-bottom: 16px;
}
.section-wrapper a {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 8px;
}
.section-wrapper a:hover {
  background-color: #f1356d;
  color: white;
  border: #f1356d;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.flex li {
  margin: 12px 0;
}
.card-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  min-height: 150px;
  margin-top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card-preview:hover {
  box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
}
.virtual-cards ul {
  padding: 0;
}
.card-title {
  font-size: 24px;
  color: #f1356d;
  text-align: center;
  margin-bottom: 8px;
}
.card-preview .row-1 {
  margin: 16px 0;
}
.card-preview .row-2 {
  margin: 32px 0;
}
.card-number {
  font-size: 24px;
  color: #333;
}

@media only screen and (min-width: 768px) {
  body {
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .content {
    overflow-y: scroll;
  }
  .navbar {
    position: sticky;
  }

}